<app-navbar-admin></app-navbar-admin>
<div class="container" id="p">
    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
            <div>
                <h1>Listado Productos</h1>
                <button class="btn btn-primary" routerLink="/admin-CrearProducto">Crear Producto</button>
            </div>
            <div>
                <label for="website">Buscar producto por Categoria:</label>
                <select class="form-control" (change)="obtenerCategoriaBuscar($event)" style="width: 200px;">
                    <option>Todas</option>
                    <option *ngFor="let c of categoria">{{c.tipo}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" *ngFor="let item of arregloProductoPorCategoria; let i = index">
            <div class="card" *ngIf="!item['editar']">
                <div class="card-body">
                    <div class="card-title">
                        Categoría: {{item.categoria}}
                    </div>
                    <div class="card-title">
                        Nombre: {{item.nombre}}
                    </div>
                    <div class="card-subtitle">
                        Precio: {{item.precio}}
                    </div>
                    <div class="card-text">
                        Imagen: <img src="{{item.imagen}}">
                    </div>
                    <div>
                        <button class="btn btn-primary" [routerLink]="['/editar-producto',item.id]"> Editar</button>
                        <button class="btn btn-danger" (click)="EliminarProducto(item.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #p {
        margin-top: 90px;
    }
</style>
<app-footer></app-footer>

<!-- 

    <ng-template #elseblock>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Editar Producto
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    Categoria:
                                    <label for="website">Categoria:</label>
                                    <select class="form-control" (change)="obtenerCategoriaEdit($event)">
                                        <option>{{item.editCategoria}}</option>
                                        <option *ngFor="let c of categoria">
                                            {{c.tipo}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    Nombre:
                                    <input type="text" [(ngModel)]="item.editnombre" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    Precio:
                                    <input type="text" [(ngModel)]="item.editPrecio" class="form-control">
                                </div>
                                <div class="card-text">
                                    Imagen Actual: <img src="{{item.editImagen}}">
                                </div>
                               <div class="col-md-6">
                                    Subir nueva Imagen:
                                    <input type="file" accept="image/x-png,image/gif,image/jpeg"
                                        (change)="obtenerImagen($event)" onclick="this.value = null" style="width:80px">
                                    <input #imageProduct type="hidden" [value]="urlImage | async">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="Editar2(item)"> Guardar</button>
                            <button class="btn btn-danger" (click)="item.editar = false">Cancelar</button>
                        </div>
                    </div>
                </div>
            </ng-template>
 -->