<app-navbar></app-navbar>
<br><br><br><br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td colspan="6" style="text-align: left;">
                        <h1 id="nuevoPedido">Pedidos</h1>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th scope="col">#</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Repartidor</th>
                                <th scope="col">Total</th>
                                <th scope="col">Detalle</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of pedidos ; let i = index">
                            <tr>
                                <td></td>
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{item.estado}}
                                </td>
                                <td>
                                    {{item.fecha}}
                                </td>
                                <td>
                                    <div *ngIf="item.id_repartidor=='null';else elsenuevo">
                                        <p>No asignado</p>
                                    </div>
                                    <ng-template #elsenuevo>
                                        Asignado
                                    </ng-template>
                                </td>
                                <td>
                                    {{formateaValor(item.total)}}
                                </td>
                                <td>
                                    <button class="btn btn-primary" [routerLink]="['/cliente-pedidorealizado-detalle',item.id]"> Ver detalle</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
